BasedOnStyle: LLVM

ColumnLimit: 500
IndentWidth: 4
TabWidth: 4
UseTab: Always
AllowShortFunctionsOnASingleLine: InlineOnly
IndentCaseLabels: true
SpaceAfterCStyleCast: true
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
NamespaceIndentation: All
PointerAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
