# Artefactos de compilación (en build/ solo se versionan los assets de los samples)
/build/*
!/build/samples/
/build/samples/*
!/build/samples/*/
/build/samples/*/*
!/build/samples/*/images/
!/build/samples/*/roms/

# ROMs comerciales: no se versionan
*.sms
*.gg
*.zip
